WPF_Calculator/.idea
WPF_Calculator/WPF_Calculator/obj
WPF_Calculator/WPF_Calculator.sln
WPF_Calculator/WPF_Calculator.sln.DotSettings.user
WPF_Calculator/Tests/obj
WPF_Calculator/Tests/bin
WPF_Calculator/WPF_Calculator/bin/Debug
WPF_Calculator/WPF_Calculator/bin/Release/net8.0-windows/publish
